
/* Print utilities */
.print-only {
  @media print {
    display: block;
  }
  @media not print {
    display: none;
  }
}

.noprint {
  @media print {
    display: none;
  }
  @media not print {
    display: block;
  }
}
