@charset "utf-8";

@import 'base';

/* Fonts */
// Import Google Web Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
$font-family: 'Open Sans', sans-serif;
$font-family-print: 'Georgia', sans-serif;

/* Colors */

// Some subtle color palette
$color-transparent: transparent;
$color-black: black;
$color-white: white;
$color-red: #DE413A;	// Grenadine
$color-purple: #5B2C36;	// Tawny port
$color-pink: #EBCDD5;	// Ballet slipper
$color-brown: #C58F69;	// Butterum
$color-darkblue: #233B5D;	// Navy peony
$color-grey: #8F9190;	// Neutral gray
$color-darkgreen: #09585D;	// Shaded pruce
$color-lightgreen: #9B9740;	// Golden lime
$color-lightblue: #5285C4;	// Marina
$color-orange: #C26225;	// Autumn Maple
$color-darkgrey: darken($color-grey, 35%);
$color-lightgrey: lighten($color-grey, 38%);
$color-print-primary: #7788BB;
$color-print-secondary: lighten($color-print-primary, 20%);

/* Utilities */
@mixin ratings($rating-symbol-full, $rating-symbol-empty) {
	$rating-min: 1;
	$rating-max: 5;
	$rating-symbols-empty: "";
	$rating-symbols-full: "";
	@for $i from $rating-min through $rating-max {
		$rating-symbols-empty: str-insert($rating-symbols-empty, $rating-symbol-empty, 0);
		$rating-symbols-full: str-insert($rating-symbols-full, $rating-symbol-full, 0);
	}
	@for $i from $rating-min through $rating-max {
		.rating-#{$i}:before {
			content: str-insert(str-slice($rating-symbols-empty, $rating-min, $rating-max - $i), str-slice($rating-symbols-full, $rating-min, $i), 0);
			padding-right: 1em;
		}
	}
}

/* Global */

body {
	background-color: $color-lightgrey;
	font-family: $font-family;
	font-size: 100% !important;
	line-height: 1.5em;

	@media print {
		background-color: $color-white;
		font-family: $font-family-print;
		font-size: 12pt;
		line-height: 1.3em !important;
		text-shadow: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
}

a {
	text-decoration: none;
	padding: 1px 0.3em;

	@media print {
		color: $color-black;
	}

	@media not print {
		border-radius: 3px;
		color: $color-orange;

		&:hover {
			background-color:	$color-orange;
			color: $color-white !important;
		}
	}
}

%separator {
	border: none;
  height: 1px;
  color: $color-grey; /* old IE */
  background-color: $color-grey; /* Modern Browsers */

	@media print {
		border-style: none;
		margin-bottom: 2cm;
		margin-top: 2cm;
	}
}

.outer-separator {
	@extend %separator;
	@extend .noprint;
	margin: 3em 0 3em 0;
}

.inner-separator {
	@extend %separator;
	@extend .noprint;
	margin: 3.5em 0 1em 0;
}

.anchor {
	position: absolute;
	visibility: hidden;
}

.when-short {
	@extend .print-only;
	float: left;
	vertical-align: middle;
	width: 6em;
}

.when {
	@extend .noprint;
	background-color: $color-darkgrey;
	color: darken($color-lightgrey, 10%);
	font-size: 16px;
	border-radius: 3px;
	padding: 2px 0.5em;
	margin-right: -0.3em;
}

.duration {
	@extend .noprint;
	background-color: $color-brown;
	color: $color-black;
	font-size: 16px;
	border-radius: 3px;
	padding: 2px 0.5em;
}

.where {
	color: darken($color-orange, 10%);
	font-size: 16px;
	// padding: 2px 0.5em;
}

.section-title {
	@media print {
		font-size: 16pt !important;
		text-align: center;
		width: 60%;
		margin-left: 20%;
		background-color: $color-print-primary;
		border-radius: 8px;
		padding: 2px 0 3px 0;
		margin-top: 1.2em;
		margin-bottom: 0.7em;
	}
}

.title {
	@media not print {
		margin-top: 1em;
		font-size: 140%;
		&:first-child {
			margin-top: 0.2em;
		}
	}
	@media print {
		font-size: 14pt !important;
		padding-top: 0.3em;
	}
}

.description {
	font-style: italic;
}

/* Headline */

.headline {
	margin-top: 5.6em;
	padding-bottom: 2em;
	text-align: center;

	@media print {
		margin-top: -5.5em;
		margin-left: 1em;
		text-align: left;
		padding-bottom: 0em;
	}

	.name {
		margin-bottom: 0 !important;
		font-size: 2.9em !important;
		white-space: nowrap;
	}

	.title {
		padding-bottom: 0.3em;
		margin-top: 1.2em;
		white-space: nowrap;
		font-size: 1.9em !important;
		font-weight: bold;
		@media print {
			padding-top: 0.8em;
			margin-top: 0.4em;
			font-size: 16pt !important;
		}
	}
}

/* Details */

.details {
	margin-top: 5.6em;
	font-size: 90%;
	line-height: 1.3em;
	white-space: nowrap;

	p {
		margin-bottom: 0.9em;
		padding-left: 0.3em;
	}

	.language {
		@extend .noprint;
	}

	.pdf {
		@extend .noprint;
	}

	.birth {
		padding-left: 0.8em;
	}
}

.details-right {
	@media print {
		text-align: right;
		max-width: 100%;
		margin-top: -8.5em;

		a {
			padding: 0;
			// font-family: $font-family;
		}
	}
}

.picture {
	@extend .noprint;
	max-width: 100%;
	height: auto;
	max-height: 180px;
	border-radius: 8%;
	margin-bottom: 0.7em;
}

/* Skills */

.skills {

	.skill {
		@media print {
			// Emulate columns
			width: 33%;
		  float: left;
		  box-sizing: border-box;

			vertical-align: top;

			// Hack
			&:nth-child(3) {
				text-align: center;

				.keyword {
					padding-left: 0 !important;
				}
			}
		}
	}

	.category {
		margin-top: 1em;
		&:first-child {
			margin-top: 0.2em;
		}
		@media print {
			font-size: 14pt !important;
			text-align: center;
		}
	}

	.keyword {
		@media print {
			padding-left: 2.5em;
		}
	}

	@media not print {
		@include ratings("▣", "▢");
	}
	@media print {
		@include ratings("◼", "◻");
		@for $i from 1 through 5 {
			.rating-#{$i}:before {
				color: $color-print-primary;
			}
		}
	}
}

/* Experience */

.experience {

	.exp {
		@media print {
			&:first-child {
				margin-top: -1.4em;
			}
		}
	}
	.title {
		@media print {
			padding-left: 6em;
		}
	}
	.when-short {
		margin-top: 0.4em;
		text-align: right;
	}
	.description-short {
		@extend .print-only;
		margin-top: 1em;
		font-style: italic;
	}
	.description {
		@extend .noprint;
		margin-top: 1em;
	}
	.url {
		@extend .noprint;
	}
	.project {
		@extend .noprint;
			margin-left: 1.2em;
		.name {
			padding-top: 0.5em;
			margin-bottom: 0.1em;
			font-weight: 600;
			font-size: 120%;
		}
		.description {
			margin-top: 0.5em;
		}
	}

	.keywords {
		clear: both;
		padding-left: 0.2em;
		margin-left: 1.5em;
		margin-top: 1em;

		@media print {
			text-align: right;
			margin-top: 0.2em;
		}

		.keyword {
			display: inline-block;
			padding: 2px 5px;
			padding-top: 1px;
			white-space:nowrap;

			@media not print {
				border-radius: 3px;
				color: $color-darkgrey;
				font-size: 95%;

				box-shadow: 1px 1px 6px $color-grey;
				border-color: $color-grey;
				background-color: $color-lightgrey;

				&:hover {
					box-shadow: 1px 1px 6px $color-grey;
					border-color: $color-lightgrey;
					background-color: $color-darkgrey;
					color: $color-lightgrey;
				}
			}

			@media print {
				font-size: 10pt;
				font-weight: 500;
				background-color: $color-print-secondary;
				border-radius: 1px;
				padding: 2px 2px;
			}
		}
	}
}

/* Education */

.education {

	.ed {

		.title {
			margin-top: 0.2em;
			margin-bottom: 0.2em;
			@media print {
				padding-left: 6.6em;
				font-size: 13pt !important;
				font-weight: normal;
			}
		}

		.when-short {
			padding-top: 0.3em;
			text-align: right;
		}

		.where {
			@media print {
				color: $color-black;
				margin-top: -1.5em;
				float: right;
				font-size: 11pt;
				font-style: italic;
			}
		}

		.description {
			@extend .noprint;
		}
	}
}

/* Hobbies */

.hobbies {

	.hobby {
		@media print {
			// Emulate columns
			width: 50%;
			float: left;
			box-sizing: border-box;

			vertical-align: top;
		}

		.title {
			margin-top: 1em;
			@media print {
				margin-top: 0em;
				text-align: center;
				font-size: 13pt;
			}
		}

		.description {
			font-style: normal;
			@media print {
				padding-left: 7em;
			}
		}
	}
}

/* Side panel */

.side-panel {
	@extend .noprint;
	@media only screen and (max-width: 1450px) {
		display: none;
	}
	background-color: darken($color-darkgrey, 20%);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 200px;
	padding: 3.5em 0px;
	.name {
		color: $color-brown;
		font-size: 1.4em;
		line-height: 1.3em;
		text-align: center;
		margin: 0;
		margin-bottom: 0.5em;
		display: block;
		border-radius: 0;
		padding-left: 0;
		&:hover {
			background-color: $color-transparent;
			color: $color-white !important;
		}
	}
	.toc {
		padding: 0.5em 0px;
		margin-bottom: 2em;
		a {
			display: block;
			color: $color-lightgrey !Important;
			font-size: 12px;
			border-radius: 0;
			padding-left: 22px;
			text-transform: uppercase;
			letter-spacing:1px;
			&:hover {
				background-color: $color-grey;
				color: $color-white !important;
			}
		}
	}
	hr {
		border-color: $color-darkgrey;
		margin: 1.7em 10px;
		margin-right: 20px;
	}
	.last-update {
		@extend .noprint;
		text-align: center;
		margin-top: 310%;
		color: $color-lightgrey !Important;
		font-size: 12px;
	}
}

/* Footer */
footer {
	@extend .noprint;
	margin-top: 5.8em;
	font-size: 14px;
	text-align: center;
	a {
		padding: 0;
	}
}

/* Print */

@page {
	margin: 1.5cm 1cm 1.5cm 1cm;
}

@media print and (color) {
	* {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}
}
